@import url('https://fonts.googleapis.com/css2?family= Righteous & display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Righteous', cursive;
    background-image: linear-gradient(45deg , #7B68EE, #9370DB, #8A2BE2);
    background-size: 200% 200%;
    animation: colors 5s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    border-bottom: 0.5px solid #755aab;
}
ul {
    display: flex;
    justify-content: end;
    margin: 30px;
    list-style: none;
}

.menu a {
    margin: 30px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.menu a:hover {
    color: #fff;
    transition: 1s;
}

.logo {
    margin-right: 50%;
}

        /*HOME*/
#home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 40px;
}

.imagem-principal {
    margin-top: 30px;
    max-width: 350px;
}

span {
    color: #f9f9f9;
}


     /*SOBRE*/
#sobre {
    background-color: #7256aa8b;
}
.sobre-mim {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    padding-top: 90px;
}

.sobre-mim p {
    max-width: 900px;
    padding-bottom: 60px;
}

.sobre-mim h1 {
    color: #fff;
    padding: 30px;
}

      /*HABILIDADES*/
#habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    width: 80px;
    background-color: #3a165ee7;
    margin: 10px;
    padding: 20px;
    border-radius: 30px;
    border: 5px solid #775ab1;
}