@import url('https://fonts.googleapis.com/css2?family=Foldit&display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: end;
    margin: 30px;
    list-style: none;
}

.menu a {
    margin: 30px;
    text-decoration: none;
    font-family: 'Foldit', cursive;
    font-size: 20px;
    
}

.logo {
    margin-right: 50%;
}